@{
    ViewBag.Title = "Pagina Principala";
}

<div class="jumbotron">
    <h1>Catalog Scolar Gimnazial</h1>
    <p class="lead">Catalogul Scolar este o aplicatie dedicata pentru a imbunatati calitatea muncii administrative dintr-o scoala si de asemenea urmareste gestiunea pe clase a notelor.</p>
  </div>

<div class="row">
    <div class="col-md-4">
        <h2>Descriere</h2>
        <p>
            Acest sistem software poate fi accesată de către secretare, profesori, diriginți pentru a le permite acestora să interacționeze mai bine și în același timp să le ușureze munca.
            Pentru implementare s-a folosit ASP.NET MVC - o platforma care permite construirea dinamica de site-uri web si care face posibila separarea clara de concepte          
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p> Pentru informatii scrieti un email la adresa Marius.Tereu@scoala1.ro</p>
      
    </div>
  
</div>